body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color:#F0EBE0;
    
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 94%;
    max-width: 100%;
}


.container {  
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
  

.side-logo{
    max-width: 200px;
}

.side-logo, .content .right-logo {
    flex: 1; 
  }

.side-logo img {
    max-width: 200px;
    height: auto; 
  }

  .right-logo .wrap {
    display: block; 
    margin-top: 30px; 
    margin-right: auto; 
    margin-left: auto; 
    width: 80%; 
   
    font-size: 1em;
    cursor: pointer; 
   
  }
  


.right-logo {
    text-align: right; 
    flex-direction: column; 
    align-items: center; 
  }


.right-logo img {
    max-width: 100%;
    margin-top: 20px;
    margin-left:25px;
    height: auto;
    display: flex;
    
  }

.wrap {
    background-color: white;
    color: #000000;
    margin-top: 30px;
    margin-right: 10px;
    position: relative;
    border: solid 1px #ffffff;
}

.wrap:hover {
    background-color: #fcc2f5;
    cursor: pointer;
}

.wrap:active {
    background-color: #bba4ba; 
}



.intro {
    text-align: center;
}


.message{
    margin-top: 80px;
    
}


.message1{
    text-align: center;
}
.message1 img {
    max-width: 100%;
    height: auto;
}


.message2{
    text-align: center;
    margin-top: 20px; 
    margin-left: 70px;
}

.messaga2 img {
    max-width: 100%;
    height: auto;
}

.products-container {
    position: relative; 
    max-width: 800px;
    margin: 80px auto 0; 
    overflow: hidden; 
}

.background-image {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: -1; 
  }

  .products-background {
    width: 100%; 
    
}

.products {
    position: relative; /* この要素を基準に位置を調整 */
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    max-width: 800px;
    margin-top: 80px;   
}

.product {
    width: 212px;
    margin-bottom: 10px;
    box-sizing: border-box;
    
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
    .product {
        width: calc(50% - 20px); /* タブレットサイズ */
    }
}


@media (max-width: 480px) {
    .product {
        width: calc(100% - 20px); /* スマートフォンサイズ */
    }
}


/* スマートフォンの画面幅 */
@media (max-width: 600px) {
    h1{
        font-size: 20px;
    }
    .product {
      width: calc(50% - 10px); /* 画面が狭くても2列で表示 */
    }
    .product img,
    .product .description{
      padding-left: 20px;
    }
    .product .purchase{
        margin-left: 20px;
    }
   
    .products-background {
        height: 2550px; 
        
    }

    .side-logo,
    .right-logo {
      width: 70%; 
      margin: 0 auto;
      display: block; 
    }
    
    .side-logo img,
    .right-logo img {
      width: 100%; 
      height: auto; 
      display: block;
      margin:  auto; 
      
    }
    
    .container,
    .content {
      text-align: center; 
    }
    
    .right-logo .wrap {
        
        display: block;
        margin: 0 auto 10px; 
    }
    .wrap {
        display: inline-block; 
        margin: 10px; 
        
        transform: scale(1.5); 
        transform-origin: center; 
      }
    .intro {
        /* 左右にマージンを追加 */
        margin: 0 10px;
      }
    .footlogo img {
        margin-top: 20px; 
        width: 60%; 
        height: auto; 
    }
    
  }
  



.purchase {
    background-color: #8B0000; 
    color: white;            
    border: none;            
    padding: 10px 20px;        
    font-size: 16px;          
    position: relative;        
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%); 
    cursor: pointer;           
}

.purchase:hover {
    background-color: #A52A2A; 
}

.purchase:active {
    background-color: #B22222; 
}


.footlogo {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}


footer {
    padding: 20px 0;
    background-color: #f5f5f5;
    text-align: center;
    border-top: 10px solid transparent; /* 境界線の厚さを設定 */
    -webkit-border-image: url('https://ukiukiwine.com/XmasSite/footerline.png') 30 stretch;
    -o-border-image: url('https://ukiukiwine.com/XmasSite/footerline.png') 30 stretch;
    border-image: url('https://ukiukiwine.com/XmasSite/footerline.png') 30 stretch;
}

footer img {
    max-width: 200px;
    height: auto;
}

.footer-image {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}


.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
}

.image-container img {
    width: 100%;
    max-width: 350px; 
    height: auto; 
    margin-bottom: 20px;
    align-items: center;
}



.rakuten{
background-color:black; 
color: white;             
border: none;             
padding: 10px 20px;      
font-size: 16px;          
position: relative;      
clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%);
cursor: pointer;           
}